<div class="jumbotron text-center ">
  <div class="tint"></div>
  <div class="content">
    <img [src]="logo" class="logo main-logo" />
    <br />
    <input type="button" value="Register" class="regbtn"
      onclick="window.open('https://my.mlh.io/oauth/authorize?client_id=f6eec3c33eea8120a22ad5072c2069917322b795dd22f288c3edf8e8948c42b5&redirect_uri=https://umslhack.io/confirm&response_type=token');" />
    <input class="sponserbtn" type="button" value="Sponsor Us"
      onclick="window.open('../../assets/files/SponsorshipPackage.pdf');" />
    <!-- onclick="window.open('https://form.jotform.com/umslhack/mentor');"  -->
    <app-timer></app-timer>
  </div>
</div>
