<!-- Container (sponsors Section) -->
<div id="sponsors" class="container-fluid text-center">
  <h2>SPONSORS</h2>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span><a href="https://1904labs.com/"><img class="logo" [src]="labs" width="350px"></a></span>
    </div>
    <div class="col-sm-4" style="margin-top: 35px">
      <span><a href="https://www.slalom.com/"><img class="logo-slalom" [src]="slalom" width="350px"></a></span>
    </div>
    <div class="col-sm-4" style="margin-top: 25px">
      <span><a href="https://www.umsl.edu/"><img class="logo" [src]="umslIS" width="350px"></a></span>
    </div>
  </div>
</div>
