
<!-- Container (previous Section) -->
<div id="previous" class="container-fluid text-center bg-grey">
  <h2>previous hacks</h2>
  <div id="myCarousel1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators" style="bottom: -30px !important;">
      <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel1" data-slide-to="1"></li>
      <li data-target="#myCarousel1" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h3>UMSL|HACK v1 - "Start Up Life"</h3>
        <br />
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="umslHack1" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="umslHack2" />
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="umslHack3" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="umslHack4" />
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="umslHack6" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="umslHack5" />
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>

      <div class="item">
        <h3>UMSL|HACK v2 - "Got API?"</h3>
        <br />
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="v2umsl1" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="v2umsl2" />
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="v2umsl3" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="v2umsl4" />
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="v2umsl5" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="v2umsl6" />
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>

      <div class="item">
        <h3>UMSL|HACK v3 - "Show Me The Data"</h3>
        <br />
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="v3umsl1" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="v3umsl2" />
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="v3umsl3" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="v3umsl4" />
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="v3umsl5" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img [src]="v3umsl6" />
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" style="margin-top: 10px;" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" style="margin-top: 10px;" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <br />

  <h2>What participants had to say about UMSL|HACK</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>
          "It really pushed my skills beyond what I had envisioned possible in a
          36 hour period. Gave me new inspiration for projects and how to
          practice moving forward."
        </h4>
      </div>
      <div class="item">
        <h4>
          "I made some good friends and gained some valuable experience. Really
          enjoyed the whole experience. The food was great, the mentors were
          incredible, and the organizers were some really stand-up people. I
          just really really enjoyed the whole experience."
        </h4>
      </div>
      <div class="item">
        <h4>"Everything was awesome and well-organized. The mentors were really nice and willing to help anyone at any
          time. I think it’s safe to say that every single person learned something new and made new friends. Will be
          back next year for sure"</h4>
      </div>
      <div class="item">
        <h4>"I learned so much and also made great friends! Also enjoyed the opportunity to talk with mentors and learn
          from them."</h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
