.container-fluid {
  padding: 60px 50px;
}

@media screen and (max-width: 1366px) {
  .thumbnail {
    margin-right: 30px;
    margin-left: 30px;
  }
}

.thumbnail img {
    width: 100%;
    height: 100%;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.bg-grey {
  background-color: #f6f6f6;
}
