<div class="float">
  <div class="fl-fl float-fb">
    <i class="fa fa-facebook"></i>
    <a href="https://www.facebook.com/umslhack/" target="_blank"> Like us!</a>
  </div>
  <div class="fl-fl float-tw">
    <i class="fa fa-twitter"></i>
    <a href="https://twitter.com/umslhack" target="_blank">Follow us!</a>
  </div>
  <div class="fl-fl float-lk">
    <i class="fa fa-linkedin"></i>
    <a href="https://www.linkedin.com/company/umsl-hack/" target="_blank">Follow us!</a>
  </div>
  <div class="fl-fl float-in">
    <i class="fa fa-instagram"></i>
    <a href="https://www.instagram.com/umslhackstl/" target="_blank">Follow us!</a>
  </div>
</div>
