<!-- Container (FAQ Section) -->
<div id="FAQ" class="container-fluid">
  <div class="text-center">
    <h2>FAQ</h2>
  </div>
  <p-accordion [multiple]="true">
    <div class="row slideanim">
      <p-accordionTab header="Where and When is UMSL|HACK?">
        <h4>
          UMSL|HACK will be held on Friday February 21st at 5:00 PM to Sunday
          February 23rd 6:00 PM at University of Missouri - St. Louis.
        </h4>
      </p-accordionTab>
      <p-accordionTab header="Am I eligible to participate?">
        <h4>
          Current undergraduate and graduate students, or those who graduated
          within the last 6 months, can compete.
        </h4>
      </p-accordionTab>
      <p-accordionTab header="Is coding experience required?">
        <h4>
          Nope! The entire UMSL|HACK team knew very little when they each
          attended their very first hackathon. It’s entirely irrelevant what
          your experience is going into a hackathon, it’s more about your
          interest in technology and problem solving.
        </h4>
      </p-accordionTab>
      <p-accordionTab header="Will there be food?">
        <h4>
          Absolutely! Your meals for the weekend will be free and there will be
          plenty of snacks and drinks to keep you energized. If you have
          specific dietary requirements, please let us know when you register.
        </h4>
      </p-accordionTab>
      <p-accordionTab header="How Should I Act?">
        <h4>
          Check out the
          <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf"><b>MLH Code of Conduct</b></a>.
        </h4>
      </p-accordionTab>
    </div>
  </p-accordion>
</div>
