<!--<div class="jumbotron">
  <h1 >Jumbotron</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>-->

<div class="container1">
<div class="jumbotron">
  <h1>Registered!</h1>
  <p>We are looking forward to seeing you at UMSL|HACK Please check your email for updates and send us your resume to <b><a href="mailto:umslhack@gmail.com">umslhack@gmail.com</a></b>,so we could share it with our sponsors for possiable hire!</p>
  <p><a class="btn btn-info btn-lg">Hackers Guide</a></p>


</div>
</div>
