h1{
    text-align: center;
    color: green;
    
}

p{
    text-align: center;
}

.container1{
    width: auto;
    height: 300px;
    

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 100px;
}
